.corpo {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#imagem {
    width: 90%;
    height: 90%;  
    border-radius: 1%;  
}

#video {
    width: 660px;
    height: 420px; 
}

#cabecalho {
    text-align: center; 
}

#link {
    text-decoration: none;
    color: rgb(105, 0, 180);
    font-weight: bold;
}

#link2 {
    text-decoration: none;
    color: black;
}

h1, h2, h3 {
    color:indigo;
    font-weight: bold;
}