.corpo {
    width: 60%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    background-color: rgb(250, 250, 250);
    border-radius: 15px;
    border-style: ridge;
}

h1, h2, h3 {
    color:rgb(89, 0, 153);
    font-weight: bold;
}

#imagem {
    width: 90%;
    height: 90%;  
    border-radius: 1%;  
}

#video {
    width: 660px;
    height: 420px; 
}

#cabecalho {
    text-align: center; 
}

#link {
    text-decoration: none;
    color: rgb(120, 0, 206);
    font-weight: bold;
}

#link2 {
    text-decoration: none;
    color: black;
}

#fim {
    text-decoration: none;
    color: black;
    font-size: x-small;
}

